/*
Motionworx CSS File
*/

/* CSS for the big boxes */

@charset "utf-8";
/* CSS Document */

/* reset */
html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
}
p {
	margin: 0 0 20px 0;
}
p, ul {
	font-family:Arial, Helvetica, sans-serif;
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
	font-size:14px;
	line-height:16px;
	letter-spacing:-0.0em;
}
img {
	border: 0;
}
h1, #pixels {
}
h2 {
}
h3 {
}
span, a {
	text-decoration:none;
}
/* Site Styles */
.themecolour {
	color:#0a7b7f;
        /*0a7b7f*/
}

.grey {
	color: #333;
}
.float-left {
	float: left;
	margin: 0 0 0 20px;
}
.float-right {
	float: right;
	margin: 0 20px 0 0;
}
.content {
	margin:0 auto;
	width:960px;
	height:100%;
	min-height:100%;
}
.section {
}
.navigation {
	list-style: none;
	position: fixed;
	left: 0px;
	z-index:900;
	width:100%;
	height:60px;
	background:#000;
	padding:0;
	margin:0;
}
ul#nav {
	width:960px;
	margin:0 auto;
}
#nav li {
	float:left;
	height:30px;
	padding: 20px 15px 10px 15px;
	background:#000;
	display:block;
	border-right:1px solid #333;
	color:#FFF;
}
#nav li.menulogo {
	padding:0 15px 0 0;
	height:60px;
}

#nav li.sociallogo {
	padding:0 0 0 0;
	height:60px;
}

#nav .sociallast {
	padding:0 0 0 0;
	height:60px;
	border:0;
	/*font-family: 'Merriweather', serif;
	font-weight:400;*/
}
#nav li a {
	display: block;
	font-family: 'Merriweather', serif;
	color:#FFF;
}
#nav li a:hover {
	color:#F1592A;
}
#container {
	width:100%;
}
#home, #whatwedo, #team, #about, #work, #portfolio, #contact {
	width: 100%;
}
#home {
	background: white;
	color: white;
	margin: 0 auto;
}
#home .mantra {
	background:url(images/bg-intro.png) no-repeat;
	padding:21px 29px;
	position: relative;
	top: 25%;
	left: 50%;
	margin-top:0px;
	margin-left:-419px;
	width: 837px;
	height: 210px;
}
#home .mantra h1 {
	width:665px;
	color:#FFF;
	font-family: 'Merriweather', serif;
	font-weight:400;
	font-size:53px;
	line-height:64px;
	padding:0;
	margin:0;
}
#home .logo {
	position:relative;
	top: 25%;
	left: 50%;
	margin-top:-35px;
	margin-left:-348px;
	width:171px;
	height:71px;
}
a.introgo {
	position:absolute;
	height:50px;
	display:block;
	bottom:0px;
	right:0px;
	background: url(images/down-arrow.png) no-repeat right;
	color:#000;
	margin:30px;
	z-index:500;
	font-family: 'Merriweather', serif;
	font-weight:400;
	font-size:30px;
	line-height:64px;
	padding-right:70px;
	text-align:right;
}
#whatwedo {
	position:relative;
}
 .table, .bios, {
 position:absolute;
 width: 960px;
 height: 550px;
 bottom: 50%;
 margin-bottom:-275px;
}
.table-top {
	width:960px;
	height:106px;
	background:url(images/table-top.png) center no-repeat;
	position:absolute;
	bottom:25%;
}
.table_contact {
	width:115px;
	height:82px;
	display:block;
	position:absolute;
	background:url(images/btn-contact.png) no-repeat;
	text-indent:-9999px;
	left:300px;
	bottom:10px;
}

#about {
        background-image:url('./images/bg.jpg');
        background-size:cover;
        background-repeat:no-repeat;
	/*background: #0a7b7f;*/
	color: white;
	padding: 0;
	position:relative;
}

.aboutContainer {
	height:550px;
	position:absolute;
	top:50%;
	margin-top:-250px;	
}
#team {
        background-image:url('./images/bg.jpg');
        background-size:cover;
        background-repeat:no-repeat;
	/*background: #0a7b7f;*/
	color: white;
	padding: 0;
	position:relative;
}

#team h2, #portfolio h2, #work h2 {
	font-family: 'Merriweather', serif;
	font-weight:400;
	font-size:53px;
	padding:20px 0 0 0;
	margin:0;
	text-align: center;
}

#contact h2 {
	font-family: 'Merriweather', serif;
	font-weight:400;
	font-size:53px;
	padding:20px 0 20px 0;
	margin:0;
	text-align: left;
}
#about .content .float-left, #about .content .float-right {
	width:450px;
	font-family: 'Merriweather', serif;
}
#about .content .float-left h2 {
	color:#000;
	font-family: 'Merriweather', serif;
	font-weight:400;
	font-size:53px;
	line-height:64px;
	padding:0;
	margin:20px 0 40px 0;
}
#work, #portfolio {
	background: #000;
	padding: 0;
	color: white;
	padding: 0;
	position:relative;
}

#portfolio {
	padding-bottom:130px;
	display:block;	
	padding-top:80px;
}

.workContainer, .contactContainer {
	width:960px;
	height:550px;
	position:absolute;
	top:50%;
	margin-top:-275px;
	padding-left:20px;
}


a.viewfolio {
	font-family: 'Merriweather', serif;
	font-weight:400;
	font-size:20px;
	display:block;
	padding:0 50px 10px 0px;
	margin-bottom:10px;
	color:#FFF;
	display:block;
	background:url(images/folio-bg.png) no-repeat top left;
}

.workContainer .col {
	width:23%;
	height:80%;
	display:block;
	float:left;
	margin-right:20px;
}

.workContainer .last {
	margin-right:0px;
}

.workContainer .col h3 {
	font-family: 'Merriweather', serif;
	font-weight:400;
	font-size:30px;
	margin:0;
	padding:0;
	border-bottom:1px solid #0a7b7f;
	margin-bottom:15px;
	padding-bottom:10px;
}

.workContainer .col p {
	/*font-family: 'Merriweather', serif;*/
	font-size:14px;
}

a.workgo, a.contactgo, a.teamgo {
	position:absolute;
	height:50px;
	display:block;
	bottom:0px;
	right:0px;
	background: url(images/down-arrow.png) no-repeat right;
	color:#000;
	margin:30px;
	z-index:500;
	font-family: 'Merriweather', serif;
	font-weight:400;
	font-size:30px;
	line-height:64px;
	padding-right:70px;
	text-align:left;
}
a.portfoliogo, a.contactgo {
	position:absolute;
	height:50px;
	display:block;
	bottom:0px;
	right:0px;
	background: url(images/down-arrow.png) no-repeat right;
	color:#fff;
	margin:30px;
	z-index:500;
	font-family: 'Merriweather', serif;
	font-weight:400;
	font-size:30px;
	line-height:64px;
	padding-right:70px;
	text-align:left;
}

a.credentials {
	position:absolute;
	height:50px;
	display:block;
	bottom:0px;
	left:0px;
	background: url(images/down-arrow.png) no-repeat left;
	color:#fff;
	margin:30px;
	z-index:500;
	font-family: 'Merriweather', serif;
	font-weight:400;
	font-size:30px;
	line-height:64px;
	padding-left:70px;
	text-align:left;
}

#contact {
	background: url(images/bg-contact.png) no-repeat top right #fff;
	color: black;
	margin: 0 auto;
	padding: 0px 0 0px 0;
	position:relative;

}

#contact a {
	color:#333;	
}

.contactDetails {
	font-family: 'Merriweather', serif;
	font-weight:400;
	font-size:33px;
	line-height:35px;
	padding:20px 0 20px 0;
	margin:0;
}

#friends {
	position:fixed;
	top:80px;
	left:0;
	width:65px;
	height:99px;
	z-index:400;
	background: url(images/friends.png) no-repeat;
	text-indent:-9999px;
	
}
.backdrop {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#000;
	opacity: .0;
	filter:alpha(opacity=0);
	z-index:500;
	display:none;
}
.box {
	color:#FFF;
	position:fixed;
	top:50%;
	left:50%;
	width:960px;
	height:600px;
	margin-top:-300px;
	margin-left:-480px;
	z-index:501;
	padding:10px;
	opacity: .0;
	display:none;
}

.box h2 {
	text-align:center;
	font-family: 'Merriweather', serif;
	font-weight:400;
	font-size:60px;
	padding:0;
	margin:0;
}
.box p {
	text-align:center;	
}

.box ul#logos {
	margin:0;
	padding:0;	
}

.box ul#logos li {
	float:left;
	width:144px;
	height:100px;
	display:block;
	margin:0 10px 10px 0;
	border: 3px solid #666;
	background:#FFF	
}
.close {
	float:right;
	margin-right:6px;
	cursor:pointer;
}
/* Portfolio Listing */

.boundingBox{ margin: 0 auto; margin-left:75px; display:block; height:100%;}

ul#portfolio-filter{ margin: 0 auto; width:500px; padding: 0; height: 64px; padding-left: 0px; line-height: 64px; }
ul#portfolio-filter li{ display: inline;}
ul#portfolio-filter a{ margin-right: 0.5em; padding: 0.5em 1em; color: #AAA; font-weight: bold; text-decoration: none; font-family: 'Merriweather', serif;
	font-weight:400;
	font-size:20px;}
ul#portfolio-filter a:hover, ul#portfolio-filter a.current{ color: #F1592A; }
ul#portfolio-filter a.current{ background-color: #FFF; color:#000; }

ul#portfolio-list{ margin: 36px 20px 0 20px; padding: 0; list-style: none; display: inline; }   
ul#portfolio-list li{ width: 195px; height: 160px; display: block; float: left; margin-right: 30px; margin-bottom: 15px; overflow: hidden; text-align:center;}
ul#portfolio-list li a{ display: block; width: 185px; height: 120px; overflow: hidden; background: #fff;position:relative; border: 5px solid white; }
ul#portfolio-list li p{ font-size: 11px; line-height: 15px; color: #AAA; margin: 5px 0; }

/* tooltip styling. by default the element to be styled is .tooltip  */
  .tooltip {
    display:none;
    background:#000;
    padding:15px;
    color:#FFF;
    font-family: 'Merriweather', serif;
	font-weight:400;
	font-size:30px;
  }
  


/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:before, .clearfix:after, .container_12:before, .container_12:after, .container_16:before, .container_16:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfix:after, .container_12:after, .container_16:after {
	clear: both;
}
.clearfix, .container_12, .container_16 {
	zoom: 1;
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 1024px) {
		
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 768px) and (max-height: 1024px) {
	
}

@media only screen and (max-width: 800px) and (max-height: 600px ) {
	
}

@media only screen and (max-width: 600px) and (max-height: 800px )  {
	.workContainer, .contactContainer {
	width:100%;
	position:absolute;
}	
}

@media only screen and (max-width: 480px)  {
	.content {}	
}


/* Mobile Portrait */
@media screen and (max-width: 320px) {
	
}